.layout {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: white;

}

.layout p {
    position: absolute;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 2rem;
    padding: 2rem;
}

.navbar {
    padding: 2rem 0 0;
    border-bottom: 8px solid red;
    background-color: white;


}

.nsearch {
    width: 80vmin;
    border: 2.6px solid black;
    border-radius: 5px;
    padding: 0.8rem;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;


}

.nsearch::after {
    content: "🔍";
    position: absolute;
    right: 2%;
    top: 24%;
    font-size: 1.3rem;
}

.nsearch input[type="text"] {
    width: 100%;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: #ffffff;

}

.hadapter {
    position: relative;
    background-color: white;
}

.flow {
    display: flex;
    font-size: 0.96rem;
    overflow-x: scroll;
    margin: 2rem 1rem 0 1rem;




}

.flow li {
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 0;
    list-style: none;
    padding: 0.7rem;
    margin-left: 0.5rem;

}

.left {
    position: absolute;
    top: 15%;
    left: 0;
    margin: 0.4rem 0 0.4rem;
    box-shadow: 5px 0px 8px 8px rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
}

.right {
    position: absolute;
    right: 0;
    top: 14.5%;
    margin: 0.4rem 0 0.4rem;
    box-shadow:  5px 0px 8px 8px rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);
}

.flow::-webkit-scrollbar {
    height: 0;
}

@media (max-width: 749px) {

    .left,
    .right {
        display: none;
    }

    .flow {
        margin: 1rem 0 0 0;

    }
}
